header {
    text-align: center;
    background-color: grey;
    
}

header h1 {
    font-family: "McLaren", cursive;
    font-weight: 200;
  }

.operation-panel {
    text-align: center;
}

.operation-panel .btn{
    margin: 0 40px;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 24px;
    background: #4e81e6;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.operation-panel .btn:hover{
    background: #3e58a8;
    text-decoration: none;
}

.operation-panel .btn-unavaliable{
    margin: 0 40px;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 24px;
    background: #8a8a8a;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.operation-panel .btn-unavaliable:hover{
    text-decoration: none;
}

body{
    background-image: url("/assets/img/fabric-of-squares.png");

  }